// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body ,html{
    background-color: #f6f6f6 !important;
    height: 100%;
}

a {
    text-decoration: none !important;
}
